<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div class="nav-bar">
        <h1>UserAuth</h1>
    </div>

    <div class="container">
        <h1>Welcome! <%= data.name%> to Dashboard...</h1>
        <p>You Can See 👀 And Edit 📝 Your Profile</p>
        <div class="btn-dash-container">
            <a href="/profile"><button type="button" class="profile">Profile</button></a>
            <a href="/edit-profile"><button type="button" class="edit-profile">Edit Profile</button></a>
        </div>
    
</body>
</html>