<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/all.css">
    <title>Home</title>
</head>
<body>
    <div class="nav-bar">
        <h1>UserAuth</h1>
    </div>
    <div class="container">
        <h1>Welcome! to the UserAuth is a full User authentication project.</h1>
        <p>In this project you able to learn successfully how to integrate the Cloudinary, Database, and Multer Using Express Js.
        </p>
        <div class="btn-container">
            <h2 id="btn-register">Hey! you New User. Click below</h2>
            <a href="/SignUp"><button type="button">Sign Up</button></a>
            <h2 id="btn-singin">Already have account?.</h2>
            <a href="/SignIn"><button type="button">Sign In</button></a>
        </div>
    </div>
    
</body>
</html>