<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/all.css">
    <title>Sign In</title>
</head>
<body>
    <div class="nav-bar">
        <h1>UserAuth</h1>
    </div>
    <div class="container">
        <form action="/dashboard" method="POST">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email">
            <br>
            <label for="pwd">Password:</label>
            <input type="password" name="password" id="pwd">
            <br>
            <input type="submit" value="Sign In">
        </form>
    </div>
</body>
</html>