<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="stylesheet" href="">
    <title>Url Shortener</title>
</head>
<body>
    <div class="navbar">
        <h1>Url Shortener</h1>
    </div>
    <div class="container">
        <label for="url">Enter Url</label>
        <input type="text" name="originalURl" id="o-url">
        <button type="submit">Submit</button>
        
        </div>
    </div>    
</body>
</html>