<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon-16x16.png"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Url Shortener</title>
  </head>
  <body>
    <div class="navbar">
      <h1>Url Shortener</h1>
    </div>
    <div class="container">
      <form action="/" method="POST">
        <label for="o-url">Enter URL</label>
        <input type="text" name="originalUrl" id="o-url" required />
        <button type="submit">Submit</button>
      </form>

      <% if (shortenUrl) { %>
        <h3 id="shortenUrl">Shortened URL: <a href="<%= shortenUrl %>"><%= shortenUrl %></a></h3>
      <% } %>
    </div>
  </body>
</html>
